<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
    head
        title='Webrtc test'
        lasso-head
    body w-bind
        init-widgets
        webrtc-video
        browser-refresh enabled='true'
        lasso-body